body, html { margin:0; padding:0; height:100%;}
body { font-family:sans-serif; }
body * { font-weight:200;}
#heatmapContainerWrapper { width:100%; height:100%; position:absolute; }
#heatmapContainer { width:100%; height:100%;}
h1 { position:absolute; background:black; color:white; padding:10px; font-weight:200; z-index:10000;}
#all-examples-info { position:absolute; background:white; font-size:16px; padding:20px; top:100px; width:350px; line-height:150%; border:1px solid rgba(0,0,0,.2);}